<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.HomeMapper">

    <!--모든 미용실 조회-->
    <select id="findAllHairshop" resultType="HairshopDTO">
        select shop_seq, shop_name, shop_address, shop_intro, shop_image, shop_start, shop_end, shop_phone, shop_regular, shop_tag,
        (select avg(review_score) from t_review as b where b.shop_seq=a.shop_seq group by shop_seq ) as avg_review_score,
        (select count(review_score) from t_review as c where c.shop_seq=a.shop_seq) as count_review
        from T_HAIRSHOP as a
    </select>
</mapper>