<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.MypageMapper">

    <!--mypage 조회-->
    <select id="findMypage" resultType="CustomerDTO">
        select cust_seq, cust_name, cust_id, cust_pw, cust_phone, cust_gender from t_customer where cust_seq=#{cust_seq}
    </select>

    <!--예약 정보 조회-->
    <select id="reservation" resultType="ReservationDTO">
        select reserv_seq, reserv_request, reserv_date, reserv_time, reserv_stat, shop_seq,
        (select style_name from t_hairstyle where style_seq = tr.style_seq) as style_name,
        (select shop_name from t_hairshop where shop_seq = tr.shop_seq) as shop_name,
        (select shop_image from t_hairshop where shop_seq = tr.shop_seq) as shop_image,
        (select staff_nickname from t_staff where staff_seq = tr.staff_seq) as staff_nickname
        from t_reservation tr
        where cust_seq = #{cust_seq}
    </select>

    <!--mypage 수정-->
    <update id="updateMypage" parameterType="CustomerDTO">
        update t_customer set
        cust_phone = #{cust_phone}
        where cust_seq = #{cust_seq}
    </update>

    <!--cust_seq에 따른 review 조회-->
    <select id="review" resultType="ReviewDTO">
        select review_seq, a.shop_seq, shop_name, a.reserv_seq, review_score, review_content, review_photo, review_date, review_reply, style_name, staff_nickname
        from t_review a
        inner join t_reservation b on a.reserv_seq = b.reserv_seq
        inner join t_hairshop c on a.shop_seq = c.shop_seq
        inner join t_hairstyle d on b.style_seq = d.style_seq
        inner join t_staff e on b.staff_seq = e.staff_seq
        where cust_seq=#{cust_seq}
        order by review_date desc
    </select>

    <!--review 작성-->
    <update id="reviewWrite">
        insert into t_review (shop_seq, reserv_seq, review_score, review_content, review_photo, review_date)
        values (#{shop_seq}, #{reserv_seq}, #{review_score}, #{review_content}, #{review_photo}, #{review_date})
    </update>
</mapper>