.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  border-radius: 70%;
}

a {
  text-decoration-line: none;
  color: inherit;
}

p {
  margin: 0.4rem 0;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.p-inputtext.p-component.p-password-input.p-password-input {
  width: 100%;
}

.p-menubar-button {
  display: none !important;
}

.p-inputgroup-addon {
  min-width: 180px;
  justify-content: start;
}

.p-panel-header {
  display: block;
}
.p-inputtext {
  width: 100%;
}
.p-menu {
  padding: 0;
}

.p-datatable .p-column-header-content {
  justify-content: center;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #fff;
  color: #356eff;
}

.fc .fc-timegrid-slot {
  background-color: #fff;
}

.card {
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(221, 224, 255, 0.54);
  padding: 2rem !important;
  border-radius: 12px;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
